page-publicaciones {
    font-family: 'Montserrat', sans-serif;
    .toolbar-background{
        background-color: #ffff;
    }
    .toolbar-title{
        color: #42A520;
    }
    .logo{
        height: 50px;
    }
    .toolbar{
        min-height: 55px;
    }
    .bar-button-default{
        color: #42A520;
    }
    .card-background-page {
       // display: block;
       // position: fixed;
        left: 0;
        top: 40px;
        //z-index: 10;
        width:100%;
        margin:0;
        padding:0;
        ion-card {
          
          text-align: center;
          margin-left: 0;
          margin-top:0;
          margin-right: 0;
          width: 100%;
        }
      
        
      
      }
      ion-list{
          padding-top:24px;
          .item{
              padding:0;
          }
         
      }
      .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
        width:60px;
        height:60px;
    }
      .titulo{
        text-align: center;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #000000;
      }

}